* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  monospace, sans-serif;
}


.preheader {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 12px;
  
}


.btn-flotante{
    position: fixed;
    bottom: 20px;
    right: 20px;
    left: 20px;
    padding: 10px 15px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-flotante:hover {
    background: #0056b3;
}

.carousel-inner{
    height: 280px;
}


.card {
    transition: transform 0.3s ease; /* Animación carta */
}

.card:hover {
    transform: scale(1.05); /* Aumenta el tamaño */
}

.product-card {
    transition: all 0.3s ease;
    cursor: pointer;
}

.product-card img {
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card:hover img {
    transform: scale(1.05);
}

.product-card:hover {
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    background: #fff;
}

