* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  monospace, sans-serif;
}


.preheader {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 12px;
  
}


.btn-flotante{
    position: fixed;
    bottom: 20px;
    right: 20px;
    left: 20px;
    padding: 10px 15px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-flotante:hover {
    background: #0056b3;
}

/* Contenedor principal */
.carousel {
  width: 90%;
  max-width: 600px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
  position: relative;
}

/* Contenedor de imágenes */
.slides {
  display: flex;
  width: 300%;
  animation: slide 12s infinite;
}

.slides img {
  width: 100%;
  object-fit: cover;
}

/* Animación */
@keyframes slide {
  0%   { transform: translateX(0%); }
  30%  { transform: translateX(0%); }

  33%  { transform: translateX(-100%); }
  63%  { transform: translateX(-100%); }

  66%  { transform: translateX(-200%); }
  96%  { transform: translateX(-200%); }

  100% { transform: translateX(0%); }
}